<div>
    <div class="page-header-title">
        <h4 class="page-title">Databarang</h4>
    </div>
</div>
<div class="page-content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <!-- Your Primary Content Here -->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button
                                    (click)="tambahBarang()"
                                    class="btn btn-sm btn-success open"
                                    style="margin-bottom:10px"
                                    type="button"><i class="fa fa-plus-circle"></i>
                                    Tambah
                                </button>
                                <table style="width:100%" datatable [dtOptions]="dtOptions" class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Kode Barang</th>
                                            <th style="width:30%">Nama Barang</th>
                                            <th>Kategori</th>
                                            <th>Harga Jual</th>
                                            <th style="text-align:center">Stok Toko</th>
                                            <th>Stok Gudang</th>
                                            <th>Stok Total</th>
                                            <th>Lokasi Toko</th>
                                            <th>Lokasi Gudang</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="barangs?.length != 0">
                                        <tr *ngFor="let barang of barangs">
                                          <td>{{ barang.kd_barang }}</td>
                                          <td>{{ barang.nm_barang }}</td>
                                          <td>{{ barang.nm_kategori }}</td>
                                          <td>{{ barang.hrg_jual }}</td>
                                          <td>{{ barang.stok_toko }}</td>
                                          <td>{{ barang.stok_gdg }}</td>
                                          <td>{{ barang.stok_toko + barang.stok_gdg }}</td>
                                          <td>{{ barang.lokasi_toko }}</td>
                                          <td>{{ barang.lokasi_gudang }}</td>
                                          <td style="width:8%;text-align: center;">
                                              <div>
                                                <button class="btn btn-xs btn-warning">
                                                  <i class="fa fa-pencil"></i>
                                                </button>
                                                &nbsp;
                                                <button class="btn btn-xs btn-danger">
                                                  <i class="fa fa-trash"></i>
                                                </button>
                                              </div>
                                          </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalTambahBarang" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Form Tambah Barang</h4>
            </div>
            <form method="post" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="kodeBarang" class="control-label col-md-3">Kode Barang</label>
                        <div class="col-md-5">
                            <input type="text" name="kodeBarang" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="namaBarang" class="control-label col-md-3">Nama Barang</label>
                        <div class="col-md-8">
                            <input type="text" name="namaBarang" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kategoriBarang" class="control-label col-md-3">Kategori</label>
                        <div class="col-md-5">
                            <select onChange="ambilSubkategori()" name="kategoriBarang" id="kategoriBarang" class="form-control" required>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subKategoriBarang" class="control-label col-md-3">Sub Kategori</label>
                        <div class="col-md-5">
                            <select name="subKategoriBarang" id="" class="form-control" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="supplierBarang" class="control-label col-md-3">Supplier</label>
                        <div class="col-md-5">
                            <select name="supplierBarang" id="" class="form-control" required>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kemasanBarang" class="control-label col-md-3">Kemasan Barang</label>
                        <div class="col-md-5">
                            <input type="text" name="kemasanBarang" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="satuanBarang" class="control-label col-md-3">Satuan Barang</label>
                        <div class="col-md-5">
                            <input type="text" name="satuanBarang" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>
