
<div class="left side-menu" >
    <div class="sidebar-inner scroll-window" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
      <div id="sidebar-menu">
        <ul>
          <li class="menu-title">Menu</li>
          <li>
            <a routerLink="/dashboard" routerLinkActive="active" class="waves-effect"><i class="mdi mdi-home"></i><span>Dashboard</span></a>
          </li>
          <li>
            <a routerLink="/databarang" routerLinkActive="active" class="waves-effect"><i class="mdi mdi-table"></i><span>Data Barang</span></a>
          </li>
          <li>
            <a routerLink="/dashboard" class="waves-effect"><i class="mdi mdi-account-circle"></i><span>Supplier</span></a>
          </li>
          <li>
            <a href="#" class="waves-effect"><i class="mdi mdi-account-circle"></i><span>Pelanggan</span></a>
          </li>
          <li>
            <a href="#" class="waves-effect"><i class="mdi mdi-android"></i><span>Pembuatan Alat</span></a>
          </li>
          <li class="has_sub">
            <a routerLink="/dashboard" class="waves-effect"><i class="fa fa-users"></i><span>Prakerin</span><span
                class="pull-right"><i class="mdi mdi-plus"></i></span></a>
            <ul class="list-unstyled">
              <li><a href="#">Data Siswa</a></li>
              <li><a href="#">Asal Sekolah</a></li>
              <li><a href="#">Jurusan</a></li>
            </ul>
          </li>
          <li class="has_sub">
            <a routerLink="/dashboard" class="waves-effect"><i class="mdi mdi-cart-plus"></i><span>Penjualan</span><span
                class="pull-right"><i class="mdi mdi-plus"></i></span></a>
            <ul class="list-unstyled">
              <li><a href="#">Kasir</a></li>
              <li><a href="#">Quotation</a></li>
              <li><a href="#">Invoice</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="waves-effect"><i class="mdi mdi-cart-plus"></i><span>Puchasing</span></a>
          </li>
          <li class="has_sub">
            <a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-cash"></i><span>Akuntansi</span><span
                class="pull-right"><i class="mdi mdi-plus"></i></span></a>
            <ul class="list-unstyled">
              <li><a href="#">Jurnal Umum</a></li>
              <li><a href="#">Periode</a></li>
              <li><a href="#">Akun</a></li>
            </ul>
          </li>
          <li class="has_sub">
            <a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-store"></i><span>Gudang</span><span
                class="pull-right"><i class="mdi mdi-plus"></i></span></a>
            <ul class="list-unstyled">
              <li><a href="#">Data Transfer</a></li>
              <li><a href="#">Transfer Keluar</a></li>
              <li><a href="#">Transfer Masuk</a></li>
            </ul>
          </li>
          <li class="has_sub">
            <a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-settings"></i><span>Setting</span><span
                class="pull-right"><i class="mdi mdi-plus"></i></span></a>
            <ul class="list-unstyled">
              <li><a href="#">User</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="mdi mdi-logout"></i><span>Logout</span></a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>